.nike {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 300px;
    padding: 120px 120px;
    
}
#para {
    width: 300px;
}

#para1 {
    font-weight: bold;
}
.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 200px;
    margin-left: 100px;
    padding: 50px;

}
.solution {
    width: 300px;

}
footer>p {
    text-align: center;
}
#art {
    margin-top: 150px;
}
#de {
    margin-top: 150px ;
}
<<<<<<< HEAD
.solo {
    margin-right: 30px;
    text-align: 
    
}
=======

.ibc {
    transform: rotate(90deg);
    position: relative;
    left: 120px;
    bottom: 250px;
}

>>>>>>> 29ea4208405addd74667f903bafcc907f2e0161d
